body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

.fireworksDiv {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    position: absolute;
    background-image: linear-gradient(35deg, #f1f1f1,#dadada);
    width: 40rem;
    height: 30rem;
    border-radius: 12px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: -5px 4px 30px rgb(223, 222, 222);

}

.container .navbar {
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgba(255, 6, 6), rgba(207, 20, 20));
    gap: 5px;
    color: white;
    border-radius: 12px 12px 0px 0px;
}

.container h1 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: ; */
}

.container .waktu {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
    margin-top: -40px;
}

.container .tanggal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #ffff;
    margin: 30px 160px 0px 160px;
    padding: 10px;
    border-radius: 100px;
}